@inherits LayoutComponentBase
@inject Blazor.Auth0.IAuthenticationService authService

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link ml-md-auto" href="" @onclick="authService.LogOut">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>

            </Authorized>
            <NotAuthorized>
                <NavLink class="nav-link ml-md-auto" href="" @onclick="authService.Authorize">
                    <span class="oi oi-account-login" aria-hidden="true"></span>  Login
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
       
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
